/* ============ Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ============ Variables ============ */
:root {
  /* Color */
  --text-color: #0b0a0a;
  --title-color: #f0eef0;
  --title-text-color: #fff;
  --body-font: "Poppins", sans-serif;

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

/* ============ Global Style ============ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

main {
  max-width: 1920px;
}

.title {
  font-weight: var(--font-semibold);
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #0b0a0a;
}

/* ============!!!>>> Left Side of CV <<<!!!============ */
.left-title {
  margin-bottom: 1.5rem;
}

.left-info {
  background-color: var(--title-color);
  padding: 2rem 1.5rem;
  width: 100%;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
}

.name {
  color: var(--text-color);
  font-weight: var(--font-semibold);
  text-align: center;
  font-size: 2rem;
}

.role {
  font-weight: var(--font-medium);
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: #4d4d4d;
}

/* ============ Contact Info ============ */
.contact {
  margin-bottom: 3rem;
}

.contact-info {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 14px;
}

.contact-info i {
  font-size: 18px;
}

.address p {
  margin-left: 4px;
}

/* ============ Education ============ */
.education {
  margin-bottom: 3rem;
}

.education-conetent {
  display: flex;
  margin-bottom: 1.5rem;
}

.education-time {
  padding-right: 1rem;
}

.education-round {
  width: 16px;
  height: 16px;
  background-color: gray;
  border-radius: 50%;
  margin-top: 0.25rem;
}

.education-line {
  width: 2px;
  height: 110%;
  background-color: gray;
  transform: translate(7px, 0);
}

.education-title {
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

.education-studies {
  margin: 0.5rem 0;
}

/* ============ Languages ============ */
.languages-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* ============!!!>>> Right Side of CV <<<!!!============ */
.right-section-gap {
  margin: 5rem 0;
}

.right-info {
  padding: 2rem 1.5rem;
}

.right-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  /* background-color: lightslategray; */
}

/* ============ Profile ============ */
.profile p {
  margin-top: 0.5rem;
}

/* ============ Experience ============ */
.experience {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.experience-container {
  margin-top: 1.5rem;
}

.experience-conetent {
  display: flex;
  margin-bottom: 1.5rem;
}

.experience-time {
  padding-right: 1rem;
}

.experience-round {
  width: 16px;
  height: 16px;
  border: 2px solid gray;
  border-radius: 50%;
  margin-top: 0.25rem;
}

.experience-line {
  width: 2px;
  height: 105%;
  background-color: gray;
  transform: translate(7px, 0);
}

.experience-title {
  font-weight: var(--font-medium);
  text-transform: capitalize;
}

.experience-company-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

/* ============ Skills ============ */
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2.5rem;
  place-items: center;
  text-align: center;
  margin-top: 1.5rem;
}

.skills-container .progress {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: var(--clr);
  background: #e1e1e1 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

.skills-container .progress h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 1;
  font-weight: var(--font-medium);
}

.skills-container .progress h3 span {
  font-size: 18px;
  font-weight: var(--font-regular);
}

.skills-container .progress h4 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: var(--font-medium);
  color: var(--clr);
  font-size: 14px;
}

.skills-container .progress::before {
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}

.skills-container .progress::after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  background: #fff;
}

.skills-container .progress::before {
  background-color: var(--clr);
  transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

.skills-container .progress .less::before {
  background: #444;
  transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}

/* ============ Interests ============ */
.interests-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4rem;
  margin-top: 1.5rem;
}

.interest {
  text-align: center;
}

.interest i {
  font-size: 24px;
  margin-bottom: 12px;
}

.interest p {
  font-size: 18px;
}

/* ============ Media Query For Medium Devices ============ */
@media screen and (min-width: 768px) {
  main {
    display: flex;
    gap: 1.5rem;
  }
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .interests-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ============ Media Query For Large Devices ============ */
@media screen and (min-width: 1024px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
